.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 64px);
  background-color: grey;
}

.titleMain {
  text-align: center;
}

.secondSection {
  height: calc(100vh - 64px);
}
/* thirdSection */
.thirdSection {
  height: calc(100vh - 64px);
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxWhite {
  margin-top: 4%;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* third section end here */
.footer {
  height: 5vh;
  background-color: rgb(49, 49, 49);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCalc {
  text-align: center;
}
